.dashboard{
    width: 100%;
    height: 100%;
    padding: 2rem 2rem 0 2rem;
    background: #F8FEFF;
}

div[data-pc-section="panelcontainer"]{
    background: #F8FEFF;
}

.tab-container > div > div{
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px #0000000D;
}

.p-tabview-panels{
    padding: 0;
}

.tab-heading{
    color: #00808E;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.log-out-container{
    margin: 0 .5rem 0 auto;
    display: flex;
    align-items: center;
}




@media (max-width: 480px) {
    .dashboard{
        padding: .5rem .5rem 0 .5rem;
    }

    .p-tabview-nav-link{
        padding: .6rem;
    }

    .tab-heading{
        font-size: 1rem;
        margin: .6rem 0;
        gap: .2rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .dashboard{
        padding: 1rem 1rem 0 1rem;
    }

    .p-tabview-nav-link{
        padding: .8rem;
    }

    .tab-heading{
        font-size: 1.2rem;
        margin: .6rem 0;
        gap: .3rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .p-tabview-nav-link{
        padding: 1rem;
    }

    .tab-heading{
        font-size: 1.4rem;
        margin: .8rem 0;
        gap: .3rem;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .tab-heading{
        font-size: 1.8rem;
        gap: .4rem;
    }
}